<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <h1><%= campground.location %></h1>
        </header>                       
        <main>
            <img src="<%= campground.image %>" alt="<%= campground.location %>">
            <p><%= campground.description %></p>
            <a href="/campgrounds">Back to Campgrounds</a>
        </main>
        <footer>
            <p>&copy; 2023 YelpCamp</p>
        </footer>  
    </body>
</html>